<!DOCTYPE html>
<html>
<head>
  <title>ReactjsR</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js"></script>
</head>
<body>

<%= react_component('FlashContainer') %>

<% if logged_in? %>
	<ul id="adminNav">
		<li><%= link_to 'Home', root_path %></li>
		<li><%= link_to 'Admin', admin_path %></li>
		<li><%= link_to 'Sign Out', logout_path, method: :delete %></li>
	</ul>
<% else %>
	<ul id="adminNav">
		<li><%= link_to 'Home', root_path %></li>
		<li><%= link_to 'About Me', 'http://www.colinw.info' %></li>
		<li><%= link_to 'Login', login_path %></li>
	</ul>
<% end %>

<%= yield %>

</body>
</html>
